header, footer {
	background-color: #f3e9f1;
}


#produits {
	display: flex;
	flex-wrap: wrap;
}

.product-list img{
	width: 100%;
}

#bouton {
	background-color: #f3e9f1;
	font-weight: bold;

}

#erreur {
	display: none;
}

.erreur_mess {
	display: none;
}

#erreur_mail {
	color: red;
	font-size: 0.8em;
}

#erreur_code {
	color: red;
	font-size: 0.8em;
}